<h3 class="list-header" {{action 'toggleListDetail'}}>{{list.title}}</h3>
<ul>
  {{#each list.items as |item|}}
    {{shopping-list/item
      item=item
      toggleDone='toggleItemDone'
      delete='deleteItem'
    }}
  {{/each}}
  <form class="form-group" {{action 'createItem' on='submit'}}>
    {{input placeholder='New Item'
            class='input-group form-control'
            value=newItem.content
    }}
  </form>
</ul>
