{{#if editable}}
  {{shopping-list/edit list=list save='save'}}
{{else}}
  {{#link-to 'list' list}}
    <h3 class="list-header">{{list.title}}</h3>
  {{/link-to}}
{{/if}}

{{#if editable}}
  <button type='submit' class="btn btn-success btn-xs" {{action 'save'}}>Submit</button>
{{else}}
  <button class="btn btn-primary btn-xs" {{action 'edit'}}>Edit</button>
{{/if}}
<button class="btn btn-danger btn-xs" {{action 'delete'}}>
  Delete
</button>
